restdb/src/main/app/restdb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="Welcome123" database="mindtree1" doc:name="MySQL Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8066" doc:name="HTTP Listener Configuration"/>
    <flow name="restdbFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/choice" doc:name="HTTP"/>
        <set-variable variableName="id" value="#[message.inboundProperties.'http.query.params'.b==empty?'':message.inboundProperties.'http.query.params'.b]" doc:name="Variable"/>
        <set-variable variableName="method" value="#[message.inboundProperties.'http.query.params'.method]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.method==&quot;getall&quot;]">
                <flow-ref name="Employee_Get" doc:name="Employee_Get"/>
            </when>
            <when expression="#[flowVars.method==&quot;post&quot;]">
                <flow-ref name="restdbFlow" doc:name="restdbFlow"/>
            </when>
            <otherwise>
                <set-session-variable variableName="b" value="#[flowVars.id]" doc:name="Session Variable"/>
                <flow-ref name="get_id" doc:name="get_id"/>
            </otherwise>
        </choice>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="Employee_Get">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from employees]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="get_id">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from employees where id=#[sessionVars.b]]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="restdbFlow">
        <json:object-to-json-transformer returnClass="java.util.HashMap" doc:name="Object to JSON"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into employees (id,age,name,salary) values (#[payload.id], #[payload.age], #[payload.name], #[payload.salary])]]></db:parameterized-query>
        </db:insert>
    </flow>
</mule>
