project_city/src/main/app/consume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
<ws:consumer-config name="Web_Service_Consumer" wsdlLocation="simple.wsdl" service="Res_interService" port="Res_interPort" serviceAddress="http://localhost:8081/resturents" connectorConfig="HTTP_Request_Configuration" doc:name="Web Service Consumer"/>
    <http:request-config name="HTTP_Request_Configuration" doc:name="HTTP Request Configuration" host="localhost" port="80">
        <http:proxy host="172.17.2.218" port="8085" username="M1042933" password="1si13is003@"/>
    </http:request-config>
    <flow name="globalFlow">
        <http:listener config-ref="global_HTTP_Listener_Configuration" path="/insert" doc:name="HTTP" allowedMethods="GET"/>
        <ws:consumer config-ref="Web_Service_Consumer" operation="hello" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="4d07ef85-da73-48f7-85e7-5151d5c10fe9">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://resturents.com/
---
{
	ns0#helloResponse: {
		return: payload.ns0#helloResponse.return
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
